.background {
	background-image: url("../../assets/MainPage/HotelAmenities//Background.png");
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-size: auto;
	// margin: 200px 0; // треба буде удалити або поставити інший відступ
	@media only screen and (max-width: 576px) {
		
	}
}
.card__container {
	display: flex;
	justify-content: center;

	img {
		width: 90%;
		height: 100%;
		object-fit: contain;
		position: relative;
		top: 140px;
		@media only screen and (max-width: 780px) {
			top: 80px;
		}
		@media only screen and (max-width: 576px) {
			top: 0;
			width: 100%;
		}
	}
}
